@media (min-width: 1280px) and (max-width: 1500px)
	article
		margin-right (gallery-width / 2)
		
	aside section
		width (gallery-width / 2)
		border-bottom 0
		
	aside section div
		border-bottom 0
		
	aside section div img
		width 96%
		margin 2%

@media (min-width: 900px) and (max-width: 1280px)
	article
		margin-right 0

	aside section
		position static
		display inline-block
		width 100%
		margin-top 6px
		margin-bottom -1px
		border-left 0
		border-right 0
		
	aside section div
		margin-bottom -5px
		
	aside section div img
		width 12%
		margin 2.33%

@media (min-width: 420px) and (max-width: 900px)	
	.logo
		background-position-x 84px
		width 64px
		margin 0

	nav
		display none
	
	.menu
		display block
		
	aside 
		margin 0

	article
		margin-right 0
		font-size 1.2rem
		clear both
		
	article img
		margin 5px auto
		clear both
		float none !important
		display block

	aside section
		position static
		display inline-block
		width 100%
		margin-top 6px
		margin-bottom -1px
		border-left 0
		border-right 0
		
	aside section div
		margin-bottom -5px
		
	aside section div img
		width 30%
		margin 1.66%
		
@media (max-width: 420px)
	.logo
		background-position-x 84px
		width 64px
		margin 0

	nav
		display none
	
	.menu
		display block
		
	article
		font-size 1rem
		margin 0
		
	article img
		margin 5px auto
		clear both
		float none !important
		display block
		
	aside 
		margin 0
	
	aside section
		position static
		display inline-block
		width 100%
		margin-top 6px
		margin-bottom -1px
		border-left 0
		border-right 0
		
	aside section div
		margin-bottom -5px
		
	aside section div img
		width 46%
		margin 2%

@media (min-width: 1500px) and (max-height: 653px)
	aside section
		display none
		
@media (min-width: 1280px) and (max-width: 1500px)
	aside section
		margin-bottom footer-height
		
	aside section div
		height 100%
		overflow-y auto