nav
	background-color #fcfcfc
	width sidebar-width
	position absolute
	top 0
	left 0
	bottom 0
	margin-top header-height
	margin-bottom footer-height
	border-right solid 1px #ddd

nav ul
	list-style-type none
	padding 0

nav ul li
	padding 0 30px
	font-size 1.25rem
	font-weight 600
	line-height 3rem
	color text-dark-color